* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  border: none;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfixed:after {
  content: ".";
  height: 0px;
  display: block;
  clear: both;
  visibility: hidden;
}
body {
  font-family: "微软雅黑,microsoft yahei";
  font-size: 12px;
}
.w {
  width: 1000px;
  margin: 0 auto;
}
.w .head {
  border: 1px solid red;
  background: url(../img/logo-bg.gif) repeat-x;
  width: 100%;
  height: 70px;
}
.w .head img {
  margin: 20px 0 0 20px;
}
.w .nav {
  border: 1px solid blue;
  height: 30px;
  line-height: 30px;
}
.w .nav ul {
  float: right;
}
.w .nav li {
  position: relative;
  float: left;
  background: url(../img/nav-bg.gif) no-repeat left center;
  padding: 0 25px;
}
.w .nav li > a {
  color: #000;
  font-size: 13px;
  font-weight: bold;
}
.w .nav li div {
  text-align: center;
  display: none;
  background: blueviolet;
  position: absolute;
  left: 0px;
  top: 30px;
  width: 100%;
}
.w .nav li:nth-child(1) {
  background: none;
}
.w .banner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.w .banner img {
  width: 1000px;
  margin: 5px 0;
}
.w .banner ul {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.w .banner li {
  margin: 0 5px 5px 0;
  height: 16px;
  line-height: 16px;
  color: #fff;
  width: 16px;
  border-radius: 50%;
  background: orangered;
  display: inline-block;
  text-align: center;
}
.w .banner li:first-child {
  background: greenyellow;
}
